<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link charset="utf-8" href="/static/styles/styles.css" media="screen" rel="stylesheet" type="text/css">
    <title>GDB Flee | Your got out</title>
  </head>
  <body>
    <div role='container'>
      <article>
        <hgroup>
          <h1>GDB Flee</h1>
          <h2>Your data has fled its File Geodatabse!</h2>
          <h2><a href="/static/output/{{ store_key }}/out.zip">Download it in a more useable format</a></h2>
          <h3><a href="/">Help some more data flee</a></h3>
        </hgroup>
        <footer>
          <p>
            Created by
            <a href='http://twitter.com/mweisman/'>Michael Weisman</a>
          </p>
        </footer>
      </article>
    </div>
    <a class='ribbon' href='https://github.com/mweisman/gdbflee' id='github'>
      <img alt='Fork me on GitHub' src='/static/images/ribbon.png' />
    </a>
  </body>
</html>
