<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link charset="utf-8" href="/static/styles/styles.css" media="screen" rel="stylesheet" type="text/css">
    <title>GDB Flee | Your data wants out</title>
  </head>
  <body>
    <div role='container'>
      <article>
        <hgroup>
          <h1>GDB Flee</h1>
          <h2>Your data wants to get out</h2>
          <h3>It looks like something went wrong with your zipfile</h3>
          <h3><a href="/">Free some more data</a>
        </hgroup>
        <footer>
          <p>
            Created by
            <a href='http://twitter.com/mweisman/'>Michael Weisman</a>
          </p>
          <p>
            <a href='/about'>About this app</a>
          </p>
        </footer>
      </article>
    </div>
    <a class='ribbon' href='https://github.com/mweisman/gdbflee' id='github'>
      <img alt='Fork me on GitHub' src='/static/images/ribbon.png' />
    </a>
  </body>
</html>
