<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link charset="utf-8" href="/static/styles/styles.css" media="screen" rel="stylesheet" type="text/css">
    <title>GDB Flee | Your data wants out</title>
  </head>
  <body>
    <div role='container'>
      <article>
        <hgroup>
          <h1>GDB Flee</h1>
          <h2>Your data wants to get out</h2>
        </hgroup>
        <form action="freeme" method=post enctype=multipart/form-data>
          <input type=file name=file>
          <br />
          <select name="format"> 
            <option value="GeoJSON">GeoJSON</option>
            <option value="KML">KML</option>
            <option value="ESRI Shapefile">Shapefile</option>
            <option value="PGDump">PostGIS Database Dump</option>
            <option value="GeoRSS">GeoRSS</option>
            <option value="CSV">CSV (attributes only)</option>
            <option value="GML">GML</option>
            <option value="MapInfo File">MapInfo File</option>
            <option value="DGN">DGN</option>
            <option value="Geoconcept">Geoconcept</option>
          </select>
          <br />
          <br />
          <input type=submit value="Free this Data!">
        </form>
        <footer>
          <p>
            Created by
            <a href='http://twitter.com/mweisman/'>Michael Weisman</a>
          </p>
          <p>
            <a href='/about'>About this app</a>
          </p>
        </footer>
      </article>
    </div>
    <a class='ribbon' href='https://github.com/mweisman/gdbflee' id='github'>
      <img alt='Fork me on GitHub' src='/static/images/ribbon.png' />
    </a>
  </body>
</html>
